// $mainTextColor: #d5769c;
// $TextColor: #ce8ca6;
$mainTextColor: #e66699;
$TextColor: #c76f92;
$codeBGColor: #ffe7f0;
$linkColor: #ff0066;
$tableBGColorA: #ffe7f0;
$tableBGColorB: #ffddeb;

@mixin btn {
  transition: 0.5s cubic-bezier(0.6, 0, 0, 1);
  cursor: pointer;
  @media (any-hover: hover) {
    &:hover {
      background-color: #ffe5f0;
    }
  }
}

@mixin addTransition {
  transition: 0.5s cubic-bezier(0.6, 0, 0, 1);
}

@mixin pinkBG {
  background: linear-gradient(180deg, #fff5f9cc, #ffeaf2cc);
  box-shadow: 0px 2px 20px 2px #ffe2ed;
}

@mixin bgBlur {
  backdrop-filter: saturate(180%) blur(30px);
  background: linear-gradient(180deg, #ffeaf2aa, #fff5f9cc);
}

@mixin textOverFlow($width) {
  width: $width;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
